<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.star.modular.bussines.mapper.TNewsMapper">
  <resultMap id="BaseResultMap" type="cn.stylefeng.star.modular.bussines.entity.TNews">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NEW_TYPE" jdbcType="VARCHAR" property="newType" />
    <result column="NEW_TITLE" jdbcType="VARCHAR" property="newTitle" />
    <result column="NEW_CONTENT" jdbcType="VARCHAR" property="newContent" />
    <result column="NEW_TIME" jdbcType="TIMESTAMP" property="newTime" />
    <result column="NEW_UPT_TIME" jdbcType="TIMESTAMP" property="newUptTime" />
    <result column="NEW_STATUS" jdbcType="VARCHAR" property="newStatus" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="PRO_TYPE" jdbcType="VARCHAR" property="proType" />
  </resultMap>

  <sql id="Base_Column_List">
    ID AS id, NEW_TYPE as newType, NEW_TITLE as newTitle, NEW_CONTENT as newContent,
    NEW_TIME as newTime, NEW_UPT_TIME as newUptTime, NEW_STATUS as newStatus, OPERATOR as operator,PRO_TYPE as proType
  </sql>

  <!--查询全部-->
  <select id="getNewList" resultType="map" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
    select
    <include refid="Base_Column_List"/>
    from T_NEWS where 1 = 1
    <if test="newType != null and newType !=''">
      and NEW_TYPE= #{newType}
    </if>
    <if test="newTitle !=null and newTitle != ''">
      and NEW_TITLE = #{newTitle}
    </if>
    and PRO_TYPE = #{proType}
    order by id desc
  </select>

  <insert id="addNews" parameterType="cn.stylefeng.star.modular.bussines.entity.TNews">
    insert into T_NEWS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proType != null">
        PRO_TYPE,
      </if>
      <if test="newType != null">
        NEW_TYPE,
      </if>
      <if test="newTitle != null">
        NEW_TITLE,
      </if>
      <if test="newContent != null">
        NEW_CONTENT,
      </if>
      <if test="newTime != null">
        NEW_TIME,
      </if>
      <if test="newUptTime != null">
        NEW_UPT_TIME,
      </if>
      <if test="newStatus != null">
        NEW_STATUS,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proType != null">
        #{proType,jdbcType=VARCHAR},
      </if>
      <if test="newType != null">
        #{newType,jdbcType=VARCHAR},
      </if>
      <if test="newTitle != null">
        #{newTitle,jdbcType=VARCHAR},
      </if>
      <if test="newContent != null">
        #{newContent,jdbcType=VARCHAR},
      </if>
      <if test="newTime != null">
        #{newTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newUptTime != null">
        #{newUptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="editNews" parameterType="cn.stylefeng.star.modular.bussines.entity.TNews">
    update T_NEWS
    <set>
      <if test="newType != null">
        NEW_TYPE = #{newType,jdbcType=VARCHAR},
      </if>
      <if test="proType != null">
        PRO_TYPE = #{proType,jdbcType=VARCHAR},
      </if>
      <if test="newTitle != null">
        NEW_TITLE = #{newTitle,jdbcType=VARCHAR},
      </if>
      <if test="newContent != null">
        NEW_CONTENT = #{newContent,jdbcType=VARCHAR},
      </if>
      <if test="newTime != null">
        NEW_TIME = #{newTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newUptTime != null">
        NEW_UPT_TIME = #{newUptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newStatus != null">
        NEW_STATUS = #{newStatus,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>