<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.star.modular.bussines.mapper.TWarehousMapper">
  <resultMap id="BaseResultMap" type="cn.stylefeng.star.modular.bussines.entity.TWarehous">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UNIT_ID" jdbcType="INTEGER" property="unitId" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="ITEM_NO" jdbcType="VARCHAR" property="itemNo" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="COMPANY_ADDRESS" jdbcType="VARCHAR" property="companyAddress" />
    <result column="COMPANY_ORG_NO" jdbcType="VARCHAR" property="companyOrgNo" />
    <result column="COMPANY_LEGAL" jdbcType="VARCHAR" property="companyLegal" />
    <result column="PRODUCT_PERSON" jdbcType="VARCHAR" property="productPerson" />
    <result column="PRODUCT_PHONE" jdbcType="VARCHAR" property="productPhone" />
    <result column="PRODUCT_EMAIL" jdbcType="VARCHAR" property="productEmail" />
    <result column="COMPANY_BRIEF" jdbcType="VARCHAR" property="companyBrief" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="PRODUCT_SURVEY" jdbcType="VARCHAR" property="productSurvey" />
    <result column="ENCLOSURE_ID" jdbcType="INTEGER" property="enclosureId" />
    <result column="WAREHOUS_STATUS" jdbcType="VARCHAR" property="warehousStatus" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPT_TIME" jdbcType="TIMESTAMP" property="uptTime" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="INDUSTRY_TYPE" jdbcType="INTEGER" property="industryType" />
    <result column="IS_ANNEX" jdbcType="INTEGER" property="isAnnex" />
    <result column="ALL_TYPE" jdbcType="VARCHAR" property="allType" />
  </resultMap>

  <!--上传附属表-->
  <resultMap id="BaseResultAnntx" type="cn.stylefeng.star.modular.bussines.entity.TAnnex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_no" jdbcType="VARCHAR" property="itemNo" />
    <result column="all_type" jdbcType="VARCHAR" property="allType" />
    <result column="annex_name" jdbcType="VARCHAR" property="annexName" />
    <result column="annex_url_add" jdbcType="VARCHAR" property="annexUrlAdd" />
    <result column="annex_type" jdbcType="VARCHAR" property="annexType" />
    <result column="annex_status" jdbcType="INTEGER" property="annexStatus" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_time" jdbcType="TIMESTAMP" property="uptTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>

  <!--项目人员附属表-->
  <resultMap id="BaseResultMapPart" type="cn.stylefeng.star.modular.bussines.entity.TPart">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ITEM_NO" jdbcType="VARCHAR" property="itemNo" />
    <result column="PART_NAME" jdbcType="VARCHAR" property="partName" />
    <result column="PART_CODE" jdbcType="VARCHAR" property="partCode" />
    <result column="PART_JOB" jdbcType="VARCHAR" property="partJob" />
    <result column="PART_EDU" jdbcType="VARCHAR" property="partEdu" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPT_TIME" jdbcType="TIMESTAMP" property="uptTime" />
    <result column="UNIT_ID" jdbcType="INTEGER" property="unitId" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="PART_STATUS" jdbcType="INTEGER" property="partStatus" />
  </resultMap>

  <sql id="Base_Column_List">
    ID as id , UNIT_ID as unitId, UNIT_NAME as unitName,
    COMPANY_NAME as companyName, COMPANY_ADDRESS as companyAddress, COMPANY_ORG_NO as companyOrgNo,
    COMPANY_LEGAL as companyLegal, PRODUCT_PERSON as productPerson,
    PRODUCT_PHONE as productPhone, PRODUCT_EMAIL as productEmail, COMPANY_BRIEF as companyBrief, PRODUCT_NAME  as productName,
   PRODUCT_SURVEY as productSurvey, ENCLOSURE_ID as enclosureId,
    WAREHOUS_STATUS  as warehousStatus, CRT_TIME as crtTime, UPT_TIME  as uptTime,
    OPERATOR  as operator,INDUSTRY_TYPE  as industryType,ITEM_NO  as itemNo,ALL_TYPE as allType,IS_ANNEX as isAnnex
  </sql>

  <sql id="Base_Column_List_ANNEX">
    id as id, item_no as itemNo, all_type as allType, annex_name as annexName, annex_url_add as annexUrlAdd,
    annex_type as annexType, annex_status as annexStatus, crt_time as crtTime,
    upt_time as uptTime, operator
  </sql>

  <sql id="Base_Column_List_Part">
    ID as id, ITEM_NO as itemNo, PART_NAME as partName, PART_CODE as partCode,
    PART_JOB as partJob, PART_EDU as partEdu, CRT_TIME as crtTime, UPT_TIME as uptTime, UNIT_ID as unitId,
    UNIT_NAME as unitName, PART_STATUS as partStatus
  </sql>


  <!--查询全部信息-->
  <select id="getWarehousList" resultType="map" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
    select
    <include refid="Base_Column_List"/>
    from T_WAREHOUS where 1 = 1
    <if test="companyName != null and companyName !=''">
      and COMPANY_NAME like '%${companyName}%'
    </if>
    <if test="companyOrgNo != null and companyOrgNo != ''">
      and COMPANY_ORG_NO like '%${companyOrgNo}%'
    </if>
    <if test="productName != null and productName !=''">
      and   PRODUCT_NAME like '%${productName}%'
    </if>
    <if test="productPerson !=null and productPerson !=''">
      and   PRODUCT_PERSON like '%${productPerson}%'
    </if>
    <if test="crtTime !=null and crtTime !=''">
      and   CRT_TIME like '%${crtTime}%'
    </if>
    <if test="industryType != null and industryType != ''">
      and INDUSTRY_TYPE = #{industryType}
    </if>
  </select>

  <!--导出下载-->
  <select id="getDownExcel" resultType="map" parameterType="cn.stylefeng.star.modular.bussines.entity.TWarehous">
    select
    <include refid="Base_Column_List"/>
    from T_WAREHOUS where 1 = 1
    <if test="companyName != null and companyName !=''">
      and COMPANY_NAME like '%${companyName}%'
    </if>
    <if test="companyOrgNo != null and companyOrgNo != ''">
      and COMPANY_ORG_NO like '%${companyOrgNo}%'
    </if>
    <if test="productName != null and productName !=''">
      and   PRODUCT_NAME like '%${productName}%'
    </if>
    <if test="productPerson !=null and productPerson !=''">
      and   PRODUCT_PERSON like '%${productPerson}%'
    </if>
    <if test="crtTime !=null and crtTime !=''">
      and   CRT_TIME like '%${crtTime}%'
    </if>
    <if test="industryType != null and industryType != ''">
      and INDUSTRY_TYPE = #{industryType}
    </if>
  </select>



  <!--查询id-->
  <select id="findById" resultType="cn.stylefeng.star.modular.bussines.entity.TWarehous">
    select <include refid="Base_Column_List"/>
    from T_WAREHOUS where 1 = 1 and id=#{id}
  </select>

  <!--根据编号查询上传附件表信息-->
  <select id="selectByTannex" resultType="cn.stylefeng.star.modular.bussines.entity.TAnnex" resultMap="BaseResultAnntx">
    select*
    from T_ANNEX
    where 1=1
    <if test="itemNo != null and itemNo != ''">
      and item_no = #{itemNo}
    </if>
  </select>

  <select id="selectByPart" resultType="cn.stylefeng.star.modular.bussines.entity.TPart" resultMap="BaseResultMapPart">
        SELECT * FROM T_PART  WHERE  1=1 AND ITEM_NO = #{itemNo}
    </select>


  <insert id="addWarehous" parameterType="cn.stylefeng.star.modular.bussines.entity.TWarehous">
    insert into T_WAREHOUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="isAnnex != null">
        IS_ANNEX,
      </if>
      <if test="allType != null">
        ALL_TYPE,
      </if>
      <if test="itemNo != null">
        ITEM_NO,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="companyName != null">
        COMPANY_NAME,
      </if>
      <if test="companyAddress != null">
        COMPANY_ADDRESS,
      </if>
      <if test="companyOrgNo != null">
        COMPANY_ORG_NO,
      </if>
      <if test="companyLegal != null">
        COMPANY_LEGAL,
      </if>
      <if test="productPerson != null">
        PRODUCT_PERSON,
      </if>
      <if test="productPhone != null">
        PRODUCT_PHONE,
      </if>
      <if test="productEmail != null">
        PRODUCT_EMAIL,
      </if>
      <if test="companyBrief != null">
        COMPANY_BRIEF,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="productTrade != null">
        PRODUCT_TRADE,
      </if>
      <if test="productSurvey != null">
        PRODUCT_SURVEY,
      </if>
      <if test="enclosureId != null">
        ENCLOSURE_ID,
      </if>
      <if test="warehousStatus != null">
       WAREHOUS_STATUS,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
      <if test="uptTime != null">
        UPT_TIME,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="industryType != null">
        INDUSTRY_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="isAnnex != null">
        #{isAnnex,jdbcType=INTEGER},
      </if>
      <if test="allType != null">
        #{allType,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="creativeType != null">
        #{creativeType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyOrgNo != null">
        #{companyOrgNo,jdbcType=VARCHAR},
      </if>
      <if test="companyLegal != null">
        #{companyLegal,jdbcType=VARCHAR},
      </if>
      <if test="productPerson != null">
        #{productPerson,jdbcType=VARCHAR},
      </if>
      <if test="productPhone != null">
        #{productPhone,jdbcType=VARCHAR},
      </if>
      <if test="productEmail != null">
        #{productEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyBrief != null">
        #{companyBrief,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTrade != null">
        #{productTrade,jdbcType=VARCHAR},
      </if>
      <if test="productSurvey != null">
        #{productSurvey,jdbcType=VARCHAR},
      </if>
      <if test="enclosureId != null">
        #{enclosureId,jdbcType=INTEGER},
      </if>
      <if test="warehousStatus != null">
       #{warehousStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null">
        #{industryType,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="editWarehous" parameterType="cn.stylefeng.star.modular.bussines.entity.TWarehous">
    update T_WAREHOUS
    <set>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyOrgNo != null">
        COMPANY_ORG_NO = #{companyOrgNo,jdbcType=VARCHAR},
      </if>
      <if test="companyLegal != null">
        COMPANY_LEGAL = #{companyLegal,jdbcType=VARCHAR},
      </if>
      <if test="productPerson != null">
        PRODUCT_PERSON = #{productPerson,jdbcType=VARCHAR},
      </if>
      <if test="productPhone != null">
        PRODUCT_PHONE = #{productPhone,jdbcType=VARCHAR},
      </if>
      <if test="productEmail != null">
        PRODUCT_EMAIL = #{productEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyBrief != null">
        COMPANY_BRIEF = #{companyBrief,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTrade != null">
        PRODUCT_TRADE = #{productTrade,jdbcType=VARCHAR},
      </if>
      <if test="productSurvey != null">
        PRODUCT_SURVEY = #{productSurvey,jdbcType=VARCHAR},
      </if>
      <if test="enclosureId != null">
        ENCLOSURE_ID = #{enclosureId,jdbcType=INTEGER},
      </if>
      <if test="warehousStatus != null">
        WAREHOUS_STATUS = #{warehousStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        UPT_TIME = #{uptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null">
        INDUSTRY_TYPE = #{industryType,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>