
@media (max-width:1300px) {
    .denglu{
        right: 0px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width:991px) {
    /*.header div{*/
        /*display: flex;*/
        /*align-items: center;*/
    /*}*/
    .header img{
        width: 100%;
        margin-top: 10px;
    }
    .footer-cont{
        justify-content: space-around;
    }
    .footer-wx{
        justify-content: space-around;
        margin-top: 16px;
    }
    .footer .footer-img{
        float: none;
        margin:10px auto
    }
    .main-navbar{
        flex-direction: column;

    }
    .main-navbar li.active a, .main-navbar li a:hover{
        padding: 6px 10px;
    }
    #mobile-navigation{
        background: #5693b9;
    }
    .ma-infinitypush-wrapper .ma-infinitypush-button{
        box-shadow: inset 0 4px #234b6b, inset 0 6px white, inset 0 9px #234b6b, inset 0 11px white, inset 0 14px #234b6b, inset 0 16px white!important;
    }
    .Article img{
        width: 100%;
    }
    .index-bg{
        background:#ffffff;
    }
    .index-tab-incont .col-md-5{
        padding-left: 15px!important;
    }
    .index-tab-incont .col-md-7{
        padding-right: 15px!important;
    }
    .lianjie ul li a{
        font-size: 14px;
    }
    .lianjie ul li{
        width: 17%;
    }
    .lianjie ul li:last-child{
        width: 29%;
    }
    .owl-carousel .owl-item img{
        height: auto;
    }
    .index-left-nav>li{
        width:50%;
    }
    .tab-content .panel{
        box-shadow:none;
    }
}

@media (max-width:767px) {
    .header img{
        margin-top: 15px;
    }
    .search-bar .btn-warning{
    }
    .search-bar .input-group{
        width: 100%;
    }
    .toutiao{
        display: -webkit-box;
    }

    .toutiao  .noticTipTxt li{
        width: 70%;
        overflow: hidden;
}
    .toutiao  .noticTipTxt li a{
        font-size: 16px;
    }
    .index-left-nav>li{
        width:100%;
    }
    .main-navbar,.ma-infinitypush-wrapper .ma-infinitypush ul, .ma-infinitypush-wrapper .ma-infinitypush ol{
        width:100%;
    }
    .main-navbar li{
        width:100%;
    }
    .ma-infinitypush-wrapper .container{
        padding:0;
    }
    .article{
        padding:20px 0;
    }
    .industry-ability-table table td input,.industry-ability-table table td textarea{
        min-width:100px;
    }
    ul.user-btn-list li a i.iconfont{
        font-size:24px;
    }
    .user-btn-list li a{
        padding:15px 0;
    }
    .user-form-horizontal .form-actions .btn{
        width: 100%;
    }
}

@media (max-width:640px) {
    .header img{
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 1170px \9
    }
}

@media (max-width:550px) {
    .footer-cont{
        flex-wrap: wrap;
    }
    .footer-text{
        margin-top: 10px;
    }
    .footer{
        flex-direction: column;
    }
    .ftr-cont{
        border-left: 0;
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width:480px) {
    .header{
        height: auto;
        overflow: hidden;
        background-size: auto 100%;
    }
    .top-right{
        margin-top: 0;
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar-brand{
        height: auto;
    }
    .header div{
        width: 100%;
    }
    .index-left-nav>li a{
        font-size: 14px;
    }
}

@media (max-width:360px) {

}